body {
    margin: 0 !important;
    font-family: 'Anuphan', sans-serif;
    font-size: 0.9rem !important;
}
.alink-post{
  white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 250px;
}
