body {
	/*background-color: #F6E99F;
	background-image: url(../images/bg.jpg);
	background-repeat: repeat-x;
	background-position: center top;*/
	font-size: 12px;
	color: #333333;
	margin: 0 0 0 0 ;
	font-family: "tahoma", arial;
}

.head{
	width:1000px;
	height:120px;
	background-image: url(../images/head.jpg);
}

.headlogo{
	width:500px;
	height:120px;
	float:left;
	text-align:right;
}

.headmember{
	width:500px;
	height:120px;
	float:right;
	line-height:40px;
	color:#FFFFFF;
}
.headmember a:link{ color: #FFFFFF; text-decoration: underline;}
.headmember a:visited{ color: #FFFFFF; text-decoration: underline;}
.headmember a:hover{ color: #333333; text-decoration: underline;}
.headmember a:active{ color:#FFFFFF; text-decoration: underline;}

.headmenu{
	width:1000px;
	height:50px;
	background-image: url(../images/menu.jpg);
	text-align:left;
	line-height:50px;
	font-size:14px;
	font-weight:bold;
}
.headmenu a:link{ color: #FFFFFF; text-decoration: none;}
.headmenu a:visited{ color: #FFFFFF; text-decoration: none;}
.headmenu a:hover{ color: #FF0066; text-decoration: underline;}
.headmenu a:active{ color:#FFFFFF; text-decoration: none;}

.headcat{
	width:1000px;
	height:450px;
}

.menucat{
	width:230px;
	height:450px;
	float:left;
	padding-top:10px;
	text-align:left;
}
.menucat a:link{ color: #F4003E; text-decoration: underline;}
.menucat a:visited{ color: #F4003E; text-decoration: underline;}
.menucat a:hover{ color: #FF0066; text-decoration: none;}
.menucat a:active{ color:#F4003E; text-decoration: underline;}

.banner{
	width:770px;
	height:450px;
	float:right;
	padding-top:10px;
	text-align:left;
}
.banner li{
	width:182px;
	height:170px;
	float:left;
	padding-left:5px;
	padding-right:5px;
	list-style:none;
	text-align:center;
}
.banner li a:link{ color: #7C7C7C; text-decoration: none;}
.banner li a:visited{ color: #7C7C7C; text-decoration: none;}
.banner li a:hover{ color: #FF0066; text-decoration: underline;}
.banner li a:active{ color:#7C7C7C; text-decoration: none;}

.boarderimg{
	border: 1px solid #000000; border-color:#F0F0F0;
}

.textbox_gray {
	color:#555555;
	background-color:#FFFFFF;
	border:1px solid #999999;
	width: 5em;
	height: 13px;
}
.btn{
	color: #666666; 
	background-color: #CCCCCC; 
	border:1px solid; 
	border-color: #999999;
	height: 18px;
	width: 5em;
}

.content{
	width:1000px;
	clear:both;
}

.lnews{
	width:230px;
	float:left;
	text-align:left;
}
.lnews a:link{ color: #7C7C7C; text-decoration: none;}
.lnews a:visited{ color: #7C7C7C; text-decoration: none;}
.lnews a:hover{ color: #FF0066; text-decoration: underline;}
.lnews a:active{ color:#7C7C7C; text-decoration: none;}

.lnews li{
	list-style:none;
	text-align:center;
	padding-left:5px;
	padding-right:5px;
}

.alignrights{
	text-align:right;
}
.alignrights a:link{ color: #FF0066; text-decoration: none;}
.alignrights a:visited{ color: #FF0066; text-decoration: none;}
.alignrights a:hover{ color: #333333; text-decoration: underline;}
.alignrights a:active{ color:#FF0066; text-decoration: none;}

.rjob{
	width:770px;
	float:right;
	text-align:left;
}

.rjobleft{
	width:540px;
	float:left;
	text-align:left;
}
.rjobright{
	width:230px;
	float:right;
	text-align:center;
}

.top20weblist{ padding-left:30px;}
.top20weblist a:link{ color: #333333; text-decoration: none;}
.top20weblist a:visited{ color: #333333; text-decoration: none;}
.top20weblist a:hover{ color: #FF0066; text-decoration: underline;}
.top20weblist a:active{ color:#333333; text-decoration: none;}

.imgleft{
	width:60px;
	height:80px;
	float:left;
	text-align:left;
}
.titleright{
	width:440px;
	height:80px;
	float:right;
	text-align:left;
}

.txtbold{
	font-weight: bold;
	font-size: 17px;
}

.alink{ padding-left:30px;}
.alink a:link{ color: #333333; text-decoration: none;}
.alink a:visited{ color: #333333; text-decoration: none;}
.alink a:hover{ color: #FF0066; text-decoration: underline;}
.alink a:active{ color:#333333; text-decoration: none;}

.box {
	font-family: tahoma;
	font-size: 12px;
	color: #333333;
	border: 1px solid #CDCCBA;
	letter-spacing: normal;
	word-spacing: normal;
	white-space: normal;
}

.bodywebboard{
	width:900px;
	height:1700px;
	text-align:left;
}

.webboard{
	width:900px;
	height:80px;
	text-align:left;
}
.leftwebboard{
	width:600px;
	height:80px;
	text-align:left;
	float:left;
	padding-top:10px;
	padding-left:5px;
}
.imgwebboard{
	width:70px;
	height:80px;
	text-align:left;
	float:left;
}
.textwebboard{
	width:530px;
	height:80px;
	text-align:left;
	float:right;
}
.textwebboard a:link{ color: #FF0066; text-decoration: none;}
.textwebboard a:visited{ color: #FF0066; text-decoration: none;}
.textwebboard a:hover{ color: #333333; text-decoration: underline;}
.textwebboard a:active{ color:#FF0066; text-decoration: none;}


.rightwebboard{
	width:250px;
	height:80px;
	text-align:left;
	float:right;
	padding-top:10px;
	padding-left:5px;
}


.footer{
	width:1000px;
	height:130px;
	text-align:left;
	background-image: url(../images/footer.jpg);
	clear:both;
	line-height:10px;
}
.padrgiht{
	text-align:right;
	padding-right:10px;
	line-height:20px;
}
.footer a:link{ color: #FF0066; text-decoration: none;}
.footer a:visited{ color: #FF0066; text-decoration: none;}
.footer a:hover{ color: #333333; text-decoration: underline;}
.footer a:active{ color:#FF0066; text-decoration: none;}


.webboardlistall{
	text-align:left;
	width:880px;
	background-color:#F2F2F2;
	padding-left:20px;
}
.webboardlistall a:link{ color: #000000; text-decoration: none;}
.webboardlistall a:visited{ color: #000000; text-decoration: none;}
.webboardlistall a:hover{ color: #FF0066; text-decoration: underline;}
.webboardlistall a:active{ color:#000000; text-decoration: none;}

.webboardlisttype{
	clear:both;
	text-align:left;
	width:880px;
	padding-left:20px;
	height:35px;
}
.webboardlisttype a:link{ color: #000000; text-decoration: none;}
.webboardlisttype a:visited{ color: #000000; text-decoration: none;}
.webboardlisttype a:hover{ color: #FF0066; text-decoration: underline;}
.webboardlisttype a:active{ color:#000000; text-decoration: none;}

.browse_page{
	clear:both;
	margin-left:12px;
	height:35px;
	margin-top:5px;
	display:block;
}
.browse_page a,.browse_page a:hover{
	display:block;
	height:20px;
	width:25px;
	font-size:10px;
	float:left;
	margin-right:2px;
	border:1px solid #CCCCCC;
	background-color:#F4F4F4;
	color:#333333;
	text-align:center;
	line-height:18px;
	font-weight:bold;
	text-decoration:none;
}
.browse_page a:hover{
	border:1px solid #FF0066;
	background-color:#FF0066;
	color:#FFFFFF;
}
.browse_page a.selectPage{
	display:block;
	height:20px;
	width:25px;
	font-size:10px;
	float:left;
	margin-right:2px;
	border:1px solid #FF0066;
	background-color:#FF0066;
	color:#FFFFFF;
	text-align:center;
	line-height:18px;
	font-weight:bold;
}
.browse_page a.SpaceC{
	display:block;
	height:20px;
	width:25px;
	font-size:10px;
	float:left;
	margin-right:2px;
	border:0px dotted #FF0066;
	font-size:11px;
	background-color:#FFFFFF;
	color:#333333;
	text-align:center;
	line-height:18px;
	font-weight:bold;
}
.browse_page a.naviPN{
	width:55px;
	font-size:12px;
	display:block;
	height:20px;
	float:left;
	border:1px solid #FF0066;
	background-color:#FF0066;
	color:#FFFFFF;
	text-align:center;
	line-height:18px;
	font-weight:bold;	
}
.browse_page a.naviPN:hover{
	width:55px;
	font-size:12px;
	display:block;
	height:20px;
	float:left;
	border:1px solid #FF0066;
	background-color: #FF0066;
	color:#FFFFFF;
	text-align:center;
	line-height:18px;
	font-weight:bold;	
}